<section id="one" class="sides">
  <div class="inner">
  <header class="major">
    <h2>Why BSI/BEAM?</h2>
    </div>

  </header>
  <div class="con">
  <article style="background-image: url(&quot;assets/images/lessons/mbots.jpg&quot;);">
    <span class="image">
      <img src="{{site.baseurl}}/assets/images/lessons/mbots.jpg" alt="le bot" />
    </span>
    <header class="major">
      <h3>Why Students?</h3>
      <p> Something about why students want to be in BEAM. Appeal to the schools basically ig? Something about why students want to be in BEAM. Appeal to the schools basically ig? </p>
      
      <a href="#" class="button special fit">School Info or smth, interestform?</a>
    </header>
    <footer>
      
    </footer>

  </article>

  <article style="background-image: url(&quot;assets/images/mark.jpg&quot;);">
    <span class="image">
      <img src="{{site.baseurl}}/assets/images/mark.jpg" alt="le mark" />
    </span>

    <header class="major">
      <h3>Why Mentors?</h3>
      <p>Mentors at UCLA are goated lmao. Something about why UCLA stuents should join us. Will fill this stuff in later eh</p>
      <a href="#" class="button special fit">Mentor Interest Form</a>
    </header>
    
  </article>
  </div>
</section>
